/*
 * Globals
 */

body{
    font: 14px Helvetica,Arial,sans-serif;
    line-height: 1.62;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.index-nav {
  background-color: #545652;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */

.book-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #d5d5d5;
}
.book-nav-item:hover,
.book-nav-item:focus {
  color: #fff;
  text-decoration: none;
}
.book-nav-item.signup{
/*    padding-righ: 25px*/
}

.book-nav-item.login{
    padding-right: 0px
}

/*Search Bar*/
.search{
    height: 0px;
    background-color: #f6f6f1;
}
.index-name{
    color: #5a4129;
    font-size: 32px;
    font-family:sans-serif;
    bottom:26px;
}

.search-bar{
    bottom: 20px;
}

.search_botton_background{
    background-color: #A2A097;
}

.search_botton{
    color: white;
}

/*New Book*/
.new_book_text{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.link-more{
    font-size: 12px;
    padding-left: 10px;
}
.refresh{
    margin-top:10px;
    float: right;
}
.high-line{
    margin-top: 4px;
    margin-bottom: 8px;
}
.thumb{
    padding-top: 1px;
}
.thumbnail img{ 
    min-height: 178px; 
}
.cover{
    margin-bottom: 2px;
}
.book_info {
    padding: 0px 4px;
    font-family: Helvetica, Arial, sans-serif;
}
.title{
    font-size: 13px;
    white-space: nowrap;
    width: 126px;
    margin-bottom: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    course:hand;
}
.author {
    color: #333;
    white-space: nowrap;
    width: 102px;
    font-size: 12px;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    course:hand;
}
.book-item{
    height: 240px;
}

/* Active state gets a caret at the bottom */
.index-nav .active {
  color: #fff;
}
.index-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

/*Tag*/
.tag_text{
    font-size: 18px;
    font-weight: bold;
    font-weight: normal;
    font-stretch: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.label{
/*    font-size: 20px;*/
}
.laber-more{
    color:grey;
    background-color: beige
}

/*Ranking*/
.ranking-list{
    margin-top: 16px;

}
.ranking{
    font-size: 18px;
    font-weight: bold;
    font-weight: normal;
    font-stretch: normal;
    font-family: Arial, Helvetica, sans-serif;    
}
.list-ranking{
    font-size: 13px;
    list-style: none;
    max-height: 320px;
    overflow-y:auto; 
    padding: 0;
}
.li{
    display: list-item;
}
.list-ranking .item {
    overflow: hidden;
    padding: 4px 0;
    border-bottom: 1px dashed #ddd;
}
.list-ranking .rank-num{
    float: left;
    width: 20px;
    text-align: left;
}
.list-ranking .book-info{
/*    float: left;*/
}
.list-ranking .author {
    color: #666;
    margin-left: 20px;
    font-size: 12px;
}
.list-ranking .buy-button {
    border: 1px solid transparent;
    float: right;
    color: #999;
    font-size: 12px;
    line-height: 100%;
    padding: 6px 8px;
    position: relative;
    top: 8px;
    right: 5px;
}

/*book_detail*/
.info_book_title{
    word-wrap: break-word;
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: #494949;
    margin: 0;
    padding: 0 0 15px 0;
    line-height: 1.1;
}


#interest_sectl{
    float: right;
    width: 155px;
    margin: 2px 0 0 0;
    padding: 0 0 0 15px;

    border-left: 1px solid #eaeaea;
    color: #9b9b9b;
}
.book_detail_content > div{
    float:left
}
.info_book_cover{
    margin: 0px 12px 0 0;
    max-width: 155px;
    overflow: visible;
}
.info_book{
    max-width: 248px;
    word-wrap: break-word;
}
.pl {
    font-family:Arial, Helvetica, sans-serif;
    line-height: 150%;
    color: #666666;
}
.pll {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
}
.rating-num{
    color: #494949;
    padding: 0;
    min-width: 30%;
    font-size: 28px;
}
.plll{
    color: #007722;
}

/*login_panel*/
.panel-login {
    border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

/*Footer*/
#footer {
    color: #999;
    padding: 6px 0;
    margin-top: 40px;
    overflow: hidden;
    zoom: 1;
    font-size: 12px;
    border-top: 1px dashed #ddd;
}

.fright {
    float: right;
}

